<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Welcome</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <span>Hola mundo</span>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5><label>Operaciones matemáticas</label></h5>
        </div>
        <div class="card-body">
          <h5 class="card-tittle "></h5>
          <div>
            <form>
              <div class="form-group">
                <input class="form-control" type="number" #number_a id="number_a" placeholder="Numero 1">
                <input class="form-control" type="number" #number_b id="number_b" placeholder="Numero 2"><br>
              </div>
              <div class="form-group">
                <input class="form-submit btn btn-primary" type="button" id="btn_s" value="Suma" (click)="mostrarResultado('s')" >
                <input class="form-submit btn btn-success" type="button" id="btn_r" value="Resta" (click)="mostrarResultado('r')" >
                <input class="form-submit btn btn-dark" type="button" id="btn_m" value="Multiplica" (click)="mostrarResultado('m')" >
                <input class="form-submit btn btn-danger" type="button" id="btn_d" value="Divide" (click)="mostrarResultado('d')" >
              </div>
              <input class="form-control" type="number" #result id="result" placeholder="Resultado"><br>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-user></app-user>
  </div>
</div>

<router-outlet></router-outlet>
